{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add Recipe</h2>
        <hr>

        <div class="mb-3">
            <label class="form-label">Recipe Name</label>
            <input name="name" required type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Recipe Description</label>
            <textarea name="description" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Recipe Image</label>
            <input name="recipe_image" type="file" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-success">Add Recipe</button>
        
    </form>
    {{recipe}}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Recipe Name</th>
      <th scope="col">Recipe Desccription</th>
      <th scope="col">Recipe Image</th>
      <th scope = "col"> action</th>
    </tr>
  </thead>
  <tbody>
    {% for i in recipe %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.name}}</td>
      <td>{{i.description}} </td>
      <td>
        <img src="/media/{{i.recipe_image}}" style="height: 200px"></td>

      <td>
        <a href=" /delete_recipe/{{i.id}}" button class="btn btn-danger">Delete</button></a>
      </td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
</div>

{% endblock %}